<p-table [columns]="cols" [value]="carsData" [paginator]="true" [rows]="5">
  <ng-template pTemplate="caption">
      List of Cars
  </ng-template>
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns">
            {{col.header}}
          </th>
          <th>
            Aksi
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td *ngFor="let col of columns">
              {{rowData[col.field]}}
          </td>
          <td>
            <button pButton type="button" label="Edit" class="ui-button-warning" (click)="setEditData(rowData)"></button>&nbsp;
            <button pButton type="button" label="Delete" class="ui-button-danger" (click)="delData(rowData['vin'])"></button>
        </td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
    <div style="text-align: left;">
        <button pButton type="button" label="Add" icon="fa fa-plus" (click)="display()"></button>
    </div>
  </ng-template>   
</p-table>