<p-dialog header="Form Input" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" [width]="300" (visibleChange)="cancel()">
  <form [formGroup]="carForm">
    <input pInputText type="text" formControlName="vin" placeholder="Vin" readonly={{stat}} appNull><br>
    <div style="color: red" *ngIf="!carForm.controls['vin'].valid&&carForm.controls['vin'].dirty&&carForm.controls['vin']">
      Not Null
    </div><br>
    <input pInputText type="text" formControlName="brand" placeholder="Brand" appNull><br>
    <div style="color: red" *ngIf="!carForm.controls['brand'].valid&&carForm.controls['brand'].dirty&&carForm.controls['brand']">
      Not Null
    </div><br>
    <input pInputText type="text" formControlName="year" placeholder="Year" appNull appPatt><br>
    <div style="color: red" *ngIf="!carForm.controls['year'].valid&&carForm.controls['year'].dirty&&carForm.controls['year']">
      Not Null || Number Only
    </div>
    <br>
    <input pInputText type="text" formControlName="color" placeholder="Color" appNull><br>
    <div style="color: red" *ngIf="!carForm.controls['color'].valid&&carForm.controls['color'].dirty&&carForm.controls['color']">
      Not Null
    </div><br>
    <input pInputText type="text" formControlName="price" placeholder="Price" appNull appPatt><br>
    <div style="color: red" *ngIf="!carForm.controls['price'].valid&&carForm.controls['price'].dirty&&carForm.controls['price']">
      Not Null || Number Only
    </div><br>
    <input pInputText type="text" formControlName="type" placeholder="Type" appNull><br>
    <div style="color: red" *ngIf="!carForm.controls['type'].valid&&carForm.controls['type'].dirty&&carForm.controls['type']">
      Not Null
    </div><br>
    
    <button pButton type="button" label="{{lbl}}" (click)="save()" [disabled]="carForm.invalid"></button>&nbsp;
    <button pButton type="reset" label="{{lbl2}}" (click)="cancel()" class="ui-button-warning"></button>
  </form>
</p-dialog>